################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VS2015/TokenAuthWebApiCore.Server/src
